@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Lato&display=swap');

body {
    background-color: rgba(114, 111, 105, 0.75);
}

.container {
    width: 75%;
    margin: 0 auto;
    text-align: center;

}

h2 {
    margin-top: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    color: #1c1111;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    font-size: 1.1rem;
    font-family: 'Comic', serif;
}

img {
    height: 150px;
    border-radius: 5px;  
    left: -50rem;
}

footer {
    position: fixed;
    margin: 1.5rem;
    color: rgb(200, 203, 205);
    left: 0;
    right: 0;   
    bottom: 0;
}