@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans:wght@100&family=Raleway:wght@100&display=swap');

body {
    background-color: rgba(114, 111, 105, 0.75);
}

.container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    margin-top: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color: #313030;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
}

img {
    height: 150px;
    border-radius: 5px;  
    left: -50rem;
}

footer {
    position: fixed;
    margin: 1.5rem;
    color: rgb(86, 86, 86);
    left: 0;
    right: 0;   
    bottom: 0;
}